* {
	padding: 0;
	margin: 0 auto;
}

.container {
	width: 940px;
	display: flex;
}

@media (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

header {
	background: url(../img/bg.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	padding-bottom: 125px;
	padding-top: 45px;
}

.start {
	flex-direction: column;
}

.menu {
	display: flex;
	height: 100px;
	width: 940px;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.menu {
		width: 100%;
		flex-direction: column;
	}
}

.menu img {
	width: 145px;
	height: 30px;
}

nav {
	width: 370px;
	justify-content: space-between;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav ul {
	display: flex;
	list-style: none;
}

header h3 {
	margin-top: 125px;
	margin-bottom: 45px;
	font-size: 32px;
}

@media (max-width: 1024px) {
	header h3 {
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	header h3 {
		font-size: 25px;
	}
}

h1 {
	text-transform: uppercase;
	font-size: 66px;
}

@media (max-width: 1024px) {
	h1 {
		font-size: 50px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 35px;
	}
}

header button {
	margin-top: 80px;
	width: 240px;
	height: 60px;
	background: transparent;
	color: #fff;
	border: 2px #fff solid;
	border-radius: 3px;
	font-size: 23px;
}


#development {
	background: #fff;
	padding: 100px;
}

h2 {
	color: #222;
	font-size: 60px;
	font-weight: normal;
}

@media (max-width: 1024px) {
	h2 {
		font-size: 50px;
	}
}

span {
	font-weight: bold;
}

.box {
	width: 540px;
}

@media (max-width: 1024px) {
	.box {
		width: 700px;
		text-align: center; 
	}
}

@media (max-width: 1024px) {
	.shape {
		display: none;
	}
}

#branding {
	background: #fafafa;
	padding: 100px;
}

p {
	color: #777;
	font-size: 18px;
}

@media (max-width: 1024px) {
	p {
		font-size: 15px;
	}
}

.brand {
	display: flex;
	flex-direction: row-reverse;
}

@media (max-width: 1024px) {
	.brand {
		flex-direction: row;
	}
}

#skills {
	background: #fff;
	padding: 95px;
}

@media (max-width: 1024px) {
	.two-columns {
		flex-direction: column;
	}
}

.pros {
	width: 400px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.pros {
		width: 100%;
	}
}

.pros img {
	width: 70px;
	height: 70px;
}

.text {
	width: 305px;
	margin: 10px;
}

@media (max-width: 1024px) {
	.text {
		width: 100%;
	}
}

#clients {
	background: #fafafa;
	padding: 100px;
}

.awesome-clients {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1024px) {
	.awesome-clients h2, .awesome-clients p {
		text-align: center;
		margin-bottom: 15px;
	}
}

@media (max-width: 1024px) {
	.teammate {
		width: 150px;
	}
}

.jamie {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media (max-width: 768px) {
	.jamie {
		flex-direction: column;
	}
}

.bart {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

@media (max-width: 768px) {
	.bart {
		flex-direction: column;
	}
}

.quote {
	width: 530px;
	height: 83px;
	border: 1px #ededed solid;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 60px;
}

@media (max-width: 1024px) {
	.quote {
		width: 70%;
		height: 60px;
	}
}

@media (max-width: 768px) {
	.quote {
		width: 100%;
		height: 100%;
	}
}

.quote p {
	font-size: 26px
}

@media (max-width: 1024px)  {
	.quote p {
		font-size: 15px;
	}
}

.quote .signature {
	font-size: 20px;
	color: #7690c5;
}

@media (max-width: 1024px) {
	.quote .signature {
		font-size: 15px;
	}
}

#social {
	background: #fff;
	padding: 60px;
}

@media (max-width: 768px) {
	#social .container {
		flex-wrap: wrap;
	}
}

@media (max-width: 768px) {
	#social .container img {
		margin-top: 15px;
	}
}

#team {
	background: #111;
	padding: 100px;
}

.amazing-team {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
}

.amazing-team h2 {
	color: #fff;
}

.workers {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 70px;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.workers {
		flex-direction: column;
		width: 100%;
	}
}

.personal {
	height: 345px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.personal {
		height: 260px;
		margin-bottom: 20px;
	}
}


h5 {
	font-size: 18px;
}

.fa-twitter:hover {
	color: #40a5e2;
}

.fa-facebook-f:hover {
	color: #0b5191;
}

.fa-pinterest-p:hover {
	color: #da1520;
}

.fa-google-plus-g:hover {
	color: #de5549;
}

@media (max-width: 1024px) {
	.portret {
		width: 150px;
	}
}

.personal p {
	font-size: 16px;
}

.personal a {
	color: #fff;
}

.proin {
	margin-top: 40px;
}

footer {
	background: #7690c5;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 30px;
}

footer p {
	color: #fff;
}

.contact {
	flex-direction: column;
}

footer h2 {
	color: #fff;
}

.block-1 {
	display: flex;
	align-items: baseline;
	flex: 1;
}

@media (max-width: 1024px) {
	.block-1 {
		flex-direction: column;
	}
}

.info {
	width: 450px;
}

.info h2 {
	margin-bottom: 15px;
}

@media (max-width: 1024px) {
	.info h2 {
	text-align: center;
}
}

.contact-information {
	display: flex;
}
	
.column {
	display: flex;
	flex-direction: column;
	height: 180px;
	justify-content: space-between;
	margin-top: 50px;
	margin-left: 0px;
}

@media (max-width: 1024px) {
	.column {
		height: 100px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.details {
	width: 190px;
	display: flex;
	justify-content: space-between;
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

input {
	width: 455px;
	height: 50px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-left: 20px;
}


textarea {
	width: 455px;
	height: 212px;
	margin-top: -5px;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 20px;
}

.placeholder {
	font-size: 18px;
	color: #bbb;
}

hr {
	width: 940px;
	height: 1px;
	border: none;
	background: #87a0d2;
	margin-bottom: 30px;
	margin-left: 0px;
}

@media (max-width: 1024px) {
	hr {
		width: 100%;
	}
}

.end {
	text-align: center;
	font-size: 16px;
}